# Data structures

# 1. Lists

One of the sequence data type are lists that serves as a storage for a sequence of values. 

## 1.1 Creating list objects
Below you can see how to create an empty list object using square brackets assigned to empty_list variable:

In [ ]:
# Creating an empty list
empty_list = []
# Printing empty_list variable
print(empty_list)
# Printing the data type of empty_list variable
print(type(empty_list))

[]
<class 'list'>

Lists can compound of as many values (elements) as you want. To store values in a list object, place all of them inside the square brackets and separate them using commas. As the result we will have a collection of values stored in a list in a specific order that will last the same until we decide to change that.

In [ ]:
# Creating a list consists of integers only
first_list = [34, 987, 3248, 545973, 23, 889, 2309]
print(first_list)

[34, 987, 3248, 545973, 23, 889, 2309]

Lists can contain values of different data types such as integers, strings or floats. Values can repeat, while each occurrence is considered unique element:

In [ ]:
# Creating a list with values of different data types
combined_list = [1,2,3,"Ready,set,code!",32.e-10, 1,2,3]
print(combined_list)

[1, 2, 3, 'Ready,set,code!', 3.2e-09, 1, 2, 3]

## 1.2 Accessing list elements

All elements that are present in a list object have their own index value trough which we can access an element we want. 

There are positive and negative indexing. What does it mean? Look at the image below:

Positive indexing simply means that indexing starts from the beginning of a list. Important thing to remember is that Python uses **zero-based indexing**, so that if you want to retrieve **the first element** of a list you must refer to index value of **0**. 

By contraries, negative indexing starts from the end of a list. The difference is that if we want to access **the last element**, we need to refer to index value **-1**, not 0.

To access a particular element of a list, define a corresponding index value inside square brackets that function as **index operator**. 

Example syntax:

```
# Positive indexing
first_value = my_list[0]

#Negative indexing
the_last_value = my_list[-1]
```

Let´s create a list compound of strings and access some elements:

In [ ]:
# Declaring string_list variable 
string_list = ['Authentic', 'Data', 'Analysis', 'function', 'AI']

In [ ]:
# Accessing the FIRST element - indexing starts at 0
print('The first element of string_variable is: ', string_list[0])

The first element of string_variable is:  Authentic

In [ ]:
# Accessing the THIRD element 
print('The third element of string_variable is: ', string_list[2])

The third element of string_variable is:  Analysis

In [ ]:
# Accessing the last but one element - negative indexing starts at -1
print('The last but one element of string_variable is: ', string_list[-2])

The last but one element of string_variable is:  function

## 1.3 Slicing list

If you want to get a specific subset (sequence) of elements you can slice the list using index and slicing operator. In this case, we will need to define two index values that will refer to the range of values we want to access. 

The slicing syntax would be as following code snippet:

```
my_list[start : end [:step]]
```

`start` - index value for the beginning of the sequence (inclusive)  
`end` - index value for the end of the sequence (exclusive)  
`:step` - step value with aditional colon   

Notice, that `start` index is inclusive and `end` index is exclusive. Because of this nuance that can be initially confusing let´s talk more about indexing and look at this concept from a different point of view.

Let´s create example list and follow the same representation of index positions like before. Observe the following image:

In [ ]:
# example 1
example_list = [15, 10, 8, 33, 4, 30, 9, 12]

Each value was assigned an index started from 0 up to 7. Now imagine that we want to make subset from value 10 (index 1) up to 30 (index 5). Since we know the indeces, our initial thought will be to write the slice in this way:

In [ ]:
# example 2 
example_list[1:5]

[10, 8, 33, 4]

But the last element we got is 4, not 30 as we wanted. The value with index 5 was omitted from the result. Every time when slicing a list we must think about what index value should we add in addition. 

But there is a way that might ease working with indices: Let´s think about an index not like the position, but as the space or as a pointer to the space that is between elements like is displayed in the bellow example:

**example 3**

I only fill in elements we want to subset. Now you can clearly see how indices refer to the space that lie between values and separate them from each other. This is actually represented as a colon that you write when populating a list with values. So if we slice using index 1 and index 6, it will return each element that lies between this range.

In [ ]:
example_list[1:6]

[10, 8, 33, 4, 30]

Let´s declare a new list object and look at the example code snippets with some of possible ways how to perform slicing:

In [ ]:
# Declaring a list containing integers
int_list = [3, 9, 12, 31, 4, 99, 43, 4, 5]

If we want to slice all elements from the beginning of the list up to a specific element we can write it as follows:

- specify 0 as this is the beginning of the list
- then where to end the slice

In [ ]:
# A slice of the first 5 elements 
# From the beginning to the index 5
int_list[0:5]

[3, 9, 12, 31, 4]

We actually can omit 0 before the colon and define only the index after the colon. This will result to the same output since defining or leaving out 0 is equivalent. Let´s slice each element except the two last:

In [ ]:
# A slice of the element except the two last
int_list[:7]

[3, 9, 12, 31, 4, 99, 43]

Similarly, we can leave out 0 and use negative indexing to gain the same result:

In [ ]:
# A slice of the element except the two last using negative indexing
int_list[:-2]

[3, 9, 12, 31, 4, 99, 43]

The same principle is used when we want to create a slice, let´s say from index 6 to the end of the list:

- firstly specify the start index
- then add only a colon that represent all elements until the end of the list

In [ ]:
# A slice from index 6 until the end of a list
int_list[6:]

[43, 4, 5]

By omitting all indeces and we´ll get each element from the beginning until the end of the list:

In [ ]:
# Retrieving each element
int_list[:]

[3, 9, 12, 31, 4, 99, 43, 4, 5]

When slicing, `step` argument can be used to skip element or reverse them. **dopisat reverse**

For example, the below code snippet return every 4-th element from the beginning of the list until the end.

In [ ]:
# A slice of elements from the beginning with every 4-th element returned
int_list[0::4]

[3, 4, 5]

In [ ]:
# Or without specifing index 0
int_list[::4]

[3, 4, 5]

In the below example, there will be each second element returned up to index 7:

In [ ]:
int_list[0:7:2]

[3, 12, 4, 43]

## 1.4 List modifications

### 1.4.1 Changing list´s elements

List is a mutable sequence type. This means, that once you create a list object, you can change any of the members or range of members stored within the list later on. To change an element we use something that we are familiar with: assignemnt operator.

In [ ]:
string_list = ['Authentic', 'Data', 'Analysis', 'function', 'AI']

In [ ]:
# Let´s create a copy of string_list variable and assign it to a new variable strings_updated
strings_updated = string_list[:]
print(strings_updated)

['Authentic', 'Data', 'Analysis', 'function', 'AI']

If we want to change only 1 element of list, we access it by its index position and specify a new value to the right of the assignment operator:

In [ ]:
# Change the second element´s value from 'Data' to 'Data Science'
strings_updated[1] = 'Data Science'
print('Comparison: ','\n',string_list,'\n',strings_updated)

Comparison:
 ['Authentic', 'Data', 'Analysis', 'function', 'AI']
 ['Authentic', 'Data Science', 'Analysis', 'function', 'AI']

To change a range of elements, use slicing approach to define what elements need to be changed and then write corresponding values inside a square brackets:

In [ ]:
strings_updated[2:5] = ['Descriptive Analysis','user-defined function','Artifical Inteligence']
print(strings_updated)

['Authentic', 'Data Science', 'Descriptive Analysis', 'user-defined function', 'Artifical Inteligence']

Let´s change the first and the second elements 'Authentic' and 'Data Science' to 'Authentic Data Science'. Simply slicing these two elements and assigning them a new value will replace both elements with a new value and the length of the string will be adjusts automatically:

In [ ]:
strings_updated[0:2] =  ['Authentic Data Science']
# Finally, compare the original and the updated lists:
print('The original list >>>',string_list)
print('The updated list  >>> ',strings_updated)

The original list >>> ['Authentic', 'Data', 'Analysis', 'function', 'AI']
The updated list  >>>  ['Authentic Data Science', 'Descriptive Analysis', 'user-defined function', 'Artifical Inteligence']

### 1.4.2 Adding list´s elements

In this section, we´ll introduce methods that can be used to add new element/elements to the existing list object.

`append()` method 
- used to add a single element at the end of the list
- this method does not create a new list object, but only modificate the existing one

The most simple demonstration of the usage of this method is to populate an empty list:

In [ ]:
# Initializing an empty lsit
original_list = []
print(original_list)

[]

To add new value, call `append()` method on original_list variable and define the string inside the brackets:

In [ ]:
# Adding a single element to the empty list
original_list.append('the element was added')
# Printing original_list to observe the change
print(original_list)

['the element was added']

Or we could have the existing list containing the main physical characteristics of water and add the missing one:

In [ ]:
# Creating a list about water characteristics
water = ['temperature','turbidity','taste and odour','colour']

In [ ]:
# Adding a single element to the existing list
water.append('solids')

In [ ]:
# Printing water to observe the change
print(water)

['temperature', 'turbidity', 'taste and odour', 'colour', 'solids']

We could also append a list to the existing list.

In that case, the structure of the resulting list object will be:  
- the list specified as a parameter of `append()` method will be placed at the end of the list object
- this list will be added as a single object

Let's append water variable to original_list variable:

In [ ]:
# Original list objects
print(original_list,'\n',water)

['the element was added']
 ['temperature', 'turbidity', 'taste and odour', 'colour', 'solids']

In [ ]:
# Appending water variable
original_list.append(water)
print(original_list)

['the element was added', ['temperature', 'turbidity', 'taste and odour', 'colour', 'solids']]

`insert()` method

- also used to add a single element to a list, but you can specify where to place it based on the index

In [ ]:
# Creating a list with elements
number_sequences = ['arithmetic','triangular','recursive']

In the first example we will insert a new string value by calling `insert()` method on number_sequences variable and specifying 2 arguments:  
- specific index number where an element should be placed
- a new value to be inserted

In [ ]:
# Inserting 'Fibonacci' at the second place 
number_sequences.insert(1, 'Fibonacci')
print(number_sequences)

['arithmetic', 'Fibonacci', 'triangular', 'recursive']

Notice how string 'Fibonacci' was inserted into the list and string 'triangular' was shifted to the right. 
Again, if we would insert string 'square numbers' at the beginning of the list, each element change its position towards right.

In [ ]:
# Inserting 'sqaure numbers' at the beginning of the list
number_sequences.insert(0, 'square numbers')
print(number_sequences)

['square numbers', 'arithmetic', 'Fibonacci', 'triangular', 'recursive']

You also can insert elements using negative indexing. In a case that you specify index -1, a new element will be placed at the next postition to the last element.

In [ ]:
# Inserting 'geometric' using negative indexing
number_sequences.insert(-1, 'geometric')
print(number_sequences)

['square numbers', 'arithmetic', 'Fibonacci', 'triangular', 'geometric', 'recursive']

`extend()` method

- used to add elements stored in any iterable object (such as lists or tuples that will be discussed later on within this notebook) 

> Note: Iterable is any object that is capable to return its elements one by one by using iterating. We'll learn about this concept later in this course.

As an example, we will combine elements of water variable with integer values stored in int_list variable using this method. Firstly, let's recall how these list objects look like:

In [ ]:
# Lists that will be combined
water = ['temperature','turbidity','taste and odour','colour']
int_list
print(water,'\n',int_list)

['temperature', 'turbidity', 'taste and odour', 'colour']
 [3, 9, 12, 31, 4, 99, 43, 4, 5]

To combine these objects, call `extend()` method on water variable and specify an iterable object inside the brackets:

In [ ]:
# Extending water variable with int_list variable
water.extend(int_list)
# Printing the output
print(water)

['temperature', 'turbidity', 'taste and odour', 'colour', 3, 9, 12, 31, 4, 99, 43, 4, 5]

From the output we can see that values are combined in one list object. The original water variable was extended by all elements from int_list variable.

**reverse, sort functions**

## 1.5 Removing elements of list

There are several ways how to remove element or elements from a list. Before we jump to the different methods aplicable to a list objects let's look at the concept of assigning. Below we'll initialize a list object and assign it to a_list variable:

In [ ]:
a_list = [1,2,3,4,5]
print(a_list)

[1, 2, 3, 4, 5]

Now if we create an empty list and reassign it to a_list variable, original elements will be replaced by this empty list.

In [ ]:
# Reassignment of list object
a_list = []
print(a_list)

[]

Let's go trough list object's methods used for removing elements.

1. `clear()` method  
- all elements will be removed from a list
- this method does not take any parameters

In [ ]:
# Initializing a list object
a_list = [1.25,1.01,2.03,1.98]
print(a_list)

[1.25, 1.01, 2.03, 1.98]

In [ ]:
# Calling clear() method on a_list variable
a_list.clear()
# After printing a_list variable you can that this object is empty
print(a_list)

[]

## 1.6 Lists of lists

# 2. Dictionaries

Dictionaries are collection of values with the structure key-value pairs. These collections are not sequences, but mapping types. Values are mapped by respective keys. 

The syntax for creating a dictionary is as follows: key-value pairs surounded by curly braces:  
```
my_dictionary = {'key1' : 'value1', 'key2' : 'value2', 'key3' : 'value3'}
```
Note, that if we define string **key**, we need to suround it with parenthesis. If it would be an integer, the parenthesis are not needed.

Firstly, let's create an empty dictionary and print the type:

In [ ]:
# Initializing an empty dictionary object
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

Now we'll create another dictionary and passed one key-value pair inside the curly braces: the name of the key will be 'first_key' and the respective string value will be 'a collection':

In [ ]:
# Creating a dictionary with one key-value pair
my_dict = {'first_key':'a collection'}
print(my_dict)

{'first_key': 'a collection'}

To add another key-value pair we specify the key inside the square brackets and assign to it value 5, for example:

In [ ]:
# Adding the second key-value pair
my_dict['second_key'] = 5
print(my_dict)

{'first_key': 'a collection', 'second_key': 5}

To create a dictionary object we can use `dict()` constructor. There are two ways of specifying key-value pairs:

- first approach: place a list of key-value pairs separated by comma      

```
my_dict = dict([('key1', 123), ('key2', 456), ('key3', 789)])
```

- second approach: specify a name as keyword argument and assign a value to it, while keyword arguments must be written without parenthesis

```
my_dict = dict(key1 = 123, key2 = 456, key3 = 789)
```

Let's create a dictionary using the second approach:

In [ ]:
# Creating a dictionary using dict()
dict_1 = dict(first_key = 35, second_key = 55, third_key = 100)
print(dict_1)

{'first_key': 35, 'second_key': 55, 'third_key': 100}

Dictionaries are mutable which means that after creating a one you can alter value using respective key. Now we change the value of 'first_key' from 35 to -35. To do so we access the key using square brackets and assign a new value:

In [ ]:
# Changing the value of 'first_key' 
dict_1['first_key'] = -35
print(dict_1)

{'first_key': -35, 'second_key': 55, 'third_key': 100}

The next important thing to know is that all keys present in a dictionary object must be unique. Otherwise you will get SyntaxError message. Below we tried to specify 'count' keyword argument twice:



```
dict_2 = dict(count = 1540, size = 0.50, count = 50)
print(dict_2)

 File "<ipython-input-21-16c7a82dccd4>", line 1
    dict_2 = dict(count = 1540, size = 0.50, count = 50)
                                            ^
SyntaxError: keyword argument repeated
```

# 3. Tuples