# Python Data Types

There are several built-in types in Python. Each object is assigned a specific type based on which certain methods and functions can be performed. 


In this notebook, we`ll introduce numeric and text sequence data type.

# 1. Numeric Data Types

There are three numeric data types that can store numeric values.

## 1.1 Integers
These can be whole numbers either positive or negative and can be any length you need them to be. Actually, there is no length restriction as long as you do not outreach available system's memory. 

Let´s store value 55, assign it to result variable and print the data type.

In [ ]:
result = 55
print(result)
print(type(result))

55
<class 'int'>

Looking at the outputs of `print()` functions, we see that value 55 was stored in `result` variable and Python assigned it `int` data type. Moreover, there are 2 aditional information stored that we can not directly see: reference count which is the allocation of this object in the memory and the size of member of variable.

### 1.1.1 Mathematical operations

If you need to perform some mathematical operations such as substract some value or exponentation, there are arithmetic operators available. 



Mathematical operation | Operator
-|-
`Addition`| +
`Substraction`| -
`Multiplication`|*
`Division`|/
`Exponentiation`| **
`Floor division`| //
`Modulus`| %

In [ ]:
# Declaring variables
var_1 = 386
var_2 = 83

In [ ]:
# Addition example
result_1 = var_1 + var_2
print(result_1)

469

In [ ]:
# Substraction example
result_2 = var_1 - var_2
print(result_2)

303

In [ ]:
# Multiplication example
result_3 = var_1 * var_2
print(result_3)

32038

In [ ]:
# Division example
result_4 = var_1 / var_2
print(result_4)

4.650602409638554

When we perform classic division, a decimal number (a float) will always be returned. To get an integer value as the result, use floor division that discards the fractional part.

To get a reminder of the division you can use modulus.

In [ ]:
# Modulus example
result_5 = var_1 % var_2
print(result_5)

54

### 1.1.1 Booleans


## 1.2 Floats

The next numeric data type is floating point number that holds digits with a decimal point. The accuracy of float is up to 15 decimal places.

Let´s store first 10 digits of Pi number, assign it to pi variable and print the data type.

In [ ]:
pi = 3.1415926535
type(pi)

float

You can also perform mathematical operations on floats, where the resulting value will be a float.

In [ ]:
print(3.14 + 99.9)

103.04

If you multiplicate a float value with an integer value, this always leads to a float output. Let´s multiplicate float value 3.14 by integer value of `result_5` variable:

In [ ]:
multiplication = (3.14 * result_5)
print(multiplication)
type(multiplication)

169.56

float

You can also come accross floats that are formated using a scientific notation used for writing either very small or large numbers. The value is formed as a float with a decimal point followed with `e+` and the power of 10 that shows how many places to move the decimal point. 

To write a number 45000000 using scientific notation you can use built-in `format()` function. The curly braces serves as a placeholder for our number where we specify that we want to have scientific notation using `:e`. We pass the number as an argument within `format()` function.

In [ ]:
sn = '{:e}'.format(45000000)
print(sn)

4.500000e+07

It is also possible to specify how many digits we´d like to have after the decimal point.

In [ ]:
sn_2 = '{:.1e}'.format(45000000)
print(sn_2)

4.5e+07

## 1.3 Strings

In Python, textual data are stored as string objects. To create a string you must surround a textual value with quotes. Possible ways to do that are using:

- single quotes
- double quotes
- triple quotes

It´s up to you wich approach you decide to stick with. 

Let´s look at some examples when we create strings and assign it to variables.

In [ ]:
# Creating a string using single quotes
a_var = 'There are several variants of Python such as MicroPython, PyPy and IronPython.'
print(a_var)
print('The data type of a_var is: ', type(a_var))

There are several variants of Python such as MicroPython, PyPy and IronPython.
The data type of a_var is:  <class 'str'>

In [ ]:
# Creating a string using double quotes
b_var = "You can define infinite float in Python."
print(b_var)

You can define infinite float in Python.

In [ ]:
# Creating a string using triple quotes
c_var = '''In Python, everything is an object.'''
print(c_var)

In Python, everything is an object.

Take as an example below sentence with included apostrophe. In this case we need to enclose the whole sentence with double quotes:

In [ ]:
d_var = "Python was named after a british comedy series Monty Python's Flying Circus."
d_var

"Python was named after a british comedy series Monty Python's Flying Circus."

In the case that a particular sentence need to be enclosed with quotation marks, you can create a string in the following way: Enclose that sentence using double quotes and the whole texts enclosed with single quotes like you see below:

In [ ]:
e_var = '"Python is an experiment in how much freedom programmers need. Too much freedom and nobody can read another´s code; too little and expressiveness is endangered." Python´s creator Guido van Rossum.'
print(e_var)

"Python is an experiment in how much freedom programmers need. Too much freedom and nobody can read another´s code; too little and expressiveness is endangered." Python´s creator Guido van Rossum.

Or escape double quotes using `\` at the beginning and at the end of the sentence:

In [ ]:
e_var = "\"Python is an experiment in how much freedom programmers need. Too much freedom and nobody can read another´s code; too little and expressiveness is endangered.\" Python´s creator Guido van Rossum."
print(e_var)

"Python is an experiment in how much freedom programmers need. Too much freedom and nobody can read another´s code; too little and expressiveness is endangered." Python´s creator Guido van Rossum.

# 2. Type Conversion

Data type conversion is the process when one data type of a variable is converted to another data type. In Python, this process can happen in two ways.

## 2.1 Implicit type conversion

Let´s take the example from Floats section within this notebook, when we multiplicated a float value and an integer value of result_5 variable:

In [ ]:
multiplication = (3.14 * result_5)
print(multiplication)
type(multiplication)

169.56

float

Behind the scene, implicit conversion was performed, when Python converted a data type of `result_5` variable: the resulting value has float data type and this process of converting did automatically happen without our involvement.

## 2.2 Explicit type conversion or Type casting

Explicit data type conversion (Type casting in other words) is happening when we explicitly tell Python which data type we would like to have of a particular variable. 

There are built-in function available for this purpose:

`int()` - converting to an integer  
`float()` - converting to a float   
`str()` - converting to a string  
`bool()` - converting to a boolean   

Let´s look at some examples of explicit conversions. 

### 2.2.1 A float to an integer

To convert a float to an integer we can use `int()` function. Let´s store value 77.5 to f_number variable. Then we use `int()` function and placed f_number variable inside the brackets.

In [ ]:
f_number = 77.5

In [ ]:
converted_number = int(f_number)
print(converted_number)
print(type(converted_number))

77
<class 'int'>

By converting a float to integer using this built-in function we lost fractional part after decimal point.

**extend part about rounding up**

In [ ]:
rounded_number = round(f_number)
print(rounded_number)
print(type(rounded_number))

78
<class 'int'>

In [ ]:
# Declaring a string
text = "The only number that can´t be represented in roman numerals is: "
print(text)
print(type(text))

The only number that can´t be represented in roman numerals is:
<class 'str'>

In [ ]:
# Declaring an integer
number = 0
print(number)
print(type(number))

0
<class 'int'>

In [ ]:
sentence = text + str(number)
print(sentence)
print(type(sentence))

The only number that can´t be represented in roman numerals is: 0
<class 'str'>